{
  "presets": ["es2015-node6"],
  "plugins": [
    ["typecheck", {
      "disable": {
        "production": true
      }
    }],
    "syntax-flow",
    "transform-flow-strip-types",
    "transform-object-rest-spread",
    "syntax-function-bind",
    "transform-function-bind",
    "syntax-class-properties",
    "transform-class-properties",
    "add-module-exports"
  ]
}
